@model chessPairingSystem.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhiteResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhiteResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlackResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlackResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduledTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhitePlayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhitePlayer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlackPlayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlackPlayer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
