@model chessPairingSystem.Models.MatchQueue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MatchQueue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeJoined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduledTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QueueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
